---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    background-color: white;
}

.greedy-nav {
    background-color: white;
}

#main {
    animation: none;
    -webkit-animation: none;
}

.masthead {
    animation: none;
    -webkit-animation: none;
}

.sidebar {
    opacity: 1;
    transition: none;
    -webkit-transition: none;
}

.author__avatar img {
    padding: 0;
    border: 0;
    max-width: 200px;
}

.page {
    padding-right: 0;
}

ul {
    list-style-type: circle;
}

.page__footer {
    animation: none;
    -webkit-animation: none;
    background-color: #35a8ad;
}

.me {
    color: #35a8ad;
}