---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Colors
html {
    background-color: white;
}

.greedy-nav {
    background-color: white;
}

.page__footer {
    animation: none;
    -webkit-animation: none;
    background-color: #35a8ad;
}

.me {
    color: #35a8ad;
}

// No animation
#main {
    animation: none;
    -webkit-animation: none;
}

.masthead {
    animation: none;
    -webkit-animation: none;
}

.sidebar {
    opacity: 1;
    transition: none;
    -webkit-transition: none;
}

// No bold font
.site-title {
    font-weight: unset;
}

.author__name  {
    font-weight: unset;
}

h2 {
    font-weight: unset;
}

// Image size
.author__avatar img {
    padding: 0;
    border: 0;
    max-width: 200px;
}

// Page setup
.page {
    padding-right: 0;
}

// List style
ul {
    list-style-type: circle;
}

